*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  margin-block: 1rem;
}

img#albumCover {
  height: 150px;
  width: 150px;
}

body > header,
body > main {
  max-width: 580px;
  margin: auto;
}

main > .mainHeader {
  display: flex;
}

label {
  display: block;
}

ul#trackList {
  padding-inline: 0;
}

ul#trackList > li {
  display: flex;
  justify-content: space-between;
}
