*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

button[disabled] {
  cursor: auto;
  opacity: 0.6;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  margin-block: 1rem;
}

body {
  background: black;
  color: white;
}

button,
input {
  color: initial;
}

body > #loading {
  width: 100dvw;
  height: 100dvh;
  position: absolute;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: black;
}

body > header,
body > main {
  max-width: 580px;
  margin: auto;
}

main > .mainHeader {
  display: flex;
}

main > .mainHeader > div > label,
main > .mainHeader > div > span {
  display: block;
}

ul#trackList {
  padding-inline: 0;
}

ul#trackList > li {
  display: flex;
  justify-content: space-between;
}

ul#trackList > li > div {
  display: flex;
}

ul#trackList > li > div > img {
  height: 48px;
  width: 48px;
}

ul#trackList > li p {
  margin-block: 0;
}
